.adventure {
    width: 100%;
    padding: 0% 5%;
}

.adventure-block {
    display: flex;
    flex-direction: row;
    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.adventure h3 {
    text-align: center;
}

.adventure .adventure-images {
    width: 55%;
    order: 2;
    @media (max-width: 800px) {
        width: 100%;
        order: 1;
    }
}

.adventure .details {
    width: 40%;
    margin-right: 4%;
    order: 1;
    display: flex;
    flex-direction: column;
    @media (max-width: 800px) {
        width: 100%;
        order: 2;
        margin: 4% 0% 0% 0%;
    }
}

.adventure .details .content {
    flex: auto;
}

.adventure .details .book-button {
    flex: auto;
}


.adventure .details .book-button div {
    width: 200px;
    height: auto;
    background-color: #f3c27f;
    border-radius: 6px;
    margin: auto;
    padding: 10px 5px;
    text-align: center;
    font-size: larger;
    color: #404040;
    cursor: pointer;
}

.adventure .details .book-button div:hover {
    color: #54a170;
}