---
layout: page
---

{% assign alladventures = site.data.adventures %}

{{ content }}

{% for adventurename in page.adventures %}
  {% for adventure in alladventures %}
    {% if adventurename == adventure.name %}
      <div class="adventure">
        <h3>{{adventure.title}} {{layout.full-width}}</h3>
        <hr>
        <div class="adventure-block">
          <div class="details">
            <ul>
              <li><b>Description:</b> {{adventure.description}}</li>
              <li><b>Dates:</b> {{adventure.dates}}</li>
              <li><b>Start time:</b> {{adventure.start}}</li>
              <li><b>Length:</b> {{adventure.length}}</li>
              <li><b>Activity Level:</b> {{adventure.activitylevel}}</li>
              <li><b>Food:</b> {{adventure.food}}</li>
              <li><b>Price:</b> {{adventure.price}}</li>
            </ul>
          </div>
          {% if adventure.images.size > 0 %}
            <div id="{{adventure.name}}-splide" class="splide adventure-images" role="group" aria-label="Splide Basic HTML Example">
              <div class="splide__track">
                <ul class="splide__list">
                  {% for img_path in adventure.images %}
                    <li class="splide__slide"><img src="{{ img_path | relative_url }}"/></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="splide__progress">
                <div class="splide__progress__bar orange-bg"></div>
              </div>
              <div class="splide__controls">
                <button class="splide__toggle" type="button">
                  <svg
                    class="splide__toggle__play"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="m22 12-20 11v-22l10 5.5z"/>
                  </svg>
                  <svg
                    class="splide__toggle__pause"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="m2 1v22h7v-22zm13 0v22h7v-22z"/>
                  </svg>
                </button>
                <ul class="splide__pagination"></ul>
              </div>
            </div>
            <script>
              new Splide( "#{{adventure.name}}-splide", {
                type: 'loop',
                heightRatio: 10/16,
                autoplay: true,
                classes: {
                  pagination: 'splide__pagination',
                  page: 'splide__pagination__page custom',
                  arrow: 'splide__arrow custom',
                },
              } ).mount();
            </script>
          {% endif %}
        </div>
        <hr>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}